.container-fluid {
    font-family: "Verdana", sans-serif;
    padding: 40px;
    background-color: #222222;
    border-radius: 10px;
    margin: 0 auto;
    width: 60%;
    margin-top: 50px;
    color: #ffffff;
}

.container-fluid input{
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #444444;
}

.container-fluid h1 {
    font-size: 30px;
}

.container-fluid h2 {
    font-size: 18px;
}

.container-fluid .form-control-label {
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.container-fluid .half-container {
    float: left;
    width: 50%;
}

.card-body form:after{
    content: "";
    display: block;
    clear: both;
}

.text-right {
    text-align: right;
}

.container-balance {
    margin-top: 20px;
}

.light-color {
    color: #ffffff;
}

.middle-color {
    color: #999999;
}

.dark-color {
    color: #333333;
}

.bold {
    font-weight: bold;
}

.container-balance:after {
    content: "";
    display: block;
    clear: both;
}

.green-highlighted {
    padding: 5px 20px;
    background-color: #b3df80;
    display: inline-block;
    border-radius: 5px;
    font-size: 22px;
}

#balanceText {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    font-size: 16px;
}

.button:hover {
    opacity: 0.7;
}

.btn-balance {
    display: block;
    margin-bottom: 10px;
}

.green-button {
    background-color: #66cc99;
    color: #ffffff;
    border: 1px solid #66cc99;
}

.blue-button {
    background-color: #524eb7;
    color: #ffffff;
    border: 1px solid #524eb7;
}

body {
    margin: 0; /* Rimuove i margini predefiniti del body */
    padding: 0; /* Rimuove i padding predefiniti del body */
    background-image: url('../images/BackgroundWhole.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1440px;
    height: 2000px;
}